<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            coordinate: <input id="coordinate_value" type="text" name="coordinate_list", placeholder="Enter coordinate" required/>
            <br><br>
            <button id="Run" value="Submit">Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
        <script src="../javascript/send.js"></script>
    </body>
</html>